<!DOCTYPE HTML>
<html>
	<head>
		<title>Hey thereeeee!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="assets/css/lang.css" />
        <link rel="stylesheet" type="text/css" href="cards.css">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
        <link rel="icon" href="images/icon.png" type="image/png">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">
					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="index.html" id="logo">Name</a></h1>
								<hr />
								<p>Slogan</p>
							</header>
							<footer>
								<a href="#banner" class="button circled scrolly">Start</a>
							</footer>
						</div>
				</div>
                
            <!-- Languages desktop version-->
                <div class="dropdown" id="dropfull">
                    <div class="dropbtn">
                        <form action="{% url 'set_language' %}" method="post" style=" display: table-cell; vertical-align: middle; height: 30px;">
                            <input name="next" type="hidden" value="{{ redirect_to }}"/>
                            <input name="language" type="hidden" value="en"/>
                            <img src="flags/us.png" class="flag"><input type="submit" value="en" style="background-color: #68686800; padding: 3px;"/>
                        </form>
                    </div>

                    <div class="dropdown-content">
                        <form action="{% url 'set_language' %}" method="post">
                            <input name="next" type="hidden" value="{{ redirect_to }}"/>
                            <input name="language" type="hidden" value="uk"/>
                            <img src="flags/uk.png" class="flag"><input type="submit" value="uk" style="background-color: #68686800; padding: 3px;"/>
                        </form>

                        <form action="{% url 'set_language' %}" method="post">
                            <input name="next" type="hidden" value="{{ redirect_to }}"/>
                            <input name="language" type="hidden" value="ru"/>
                            <img src="flags/ru.png" class="flag"><input type="submit" value="ru" style="background-color: #68686800; padding: 3px; height: 30px;"/>
                        </form>
                    </div>                    
                </div>

                <!-- Languages mobile version-->
                <div class="dropdown" id="dropmob">
                    <div class="dropbtn">
                        <form action="{% url 'set_language' %}" method="post" style=" display: table-cell; vertical-align: middle; height: 30px;">
                            <input name="next" type="hidden" value="{{ redirect_to }}"/>
                            <input name="language" type="hidden" value="en"/>
                            <img src="flags/us.png" class="flag"><input type="submit" value="" style="background-color: #68686800; padding: 3px;"/>
                        </form>
                    </div>

                    <div class="dropdown-content">
                        <form action="{% url 'set_language' %}" method="post">
                            <input name="next" type="hidden" value="{{ redirect_to }}"/>
                            <input name="language" type="hidden" value="uk"/>
                            <img src="flags/uk.png" class="flag"><input type="submit" value="" style="background-color: #68686800; padding: 3px;"/>
                        </form>

                        <form action="{% url 'set_language' %}" method="post">
                            <input name="next" type="hidden" value="{{ redirect_to }}"/>
                            <input name="language" type="hidden" value="ru"/>
                            <img src="flags/ru.png" class="flag"><input type="submit" value="" style="background-color: #68686800; padding: 3px; height: 30px;"/>
                        </form>
                    </div>                    
                </div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Famous ukrainians</h2>
						<p>
							blah blah blah
						</p>
					</header>
				</section>

			<!-- Carousel -->
					<div class="reel">
                        <table style="width: 90%; margin: 0px auto;">
                            <tr>
                                <td>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front sport_front">
                                                <img src="gretzky.png" alt="Avatar" style="width:95%; margin-top: 5px;"><br>
                                                <h3>Wayne Gretzky</h3>
                                                <p class="cards_text">Ice hockey player</p>
                                            </div>
                                            <div class="flip-card-back sport_back">
                                                <h1>Wayne Gretzky</h1>
                                                <p class="cards_quote cards_text"><em>"I skate to where the puck is going to be, not where it has been."</em></p>
                                                <button class="btn"><a href="person.html"><span>Read more</span></a></button>
                                            </div>
                                        </div>
                                    </div>  
                                </td>
                    
                                <td>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front  it_front">
                                                <img src="abramovich.png" alt="Avatar" style="width:95%; margin-top: 5px;"><br>
                                                <h3>Vasyl Abramovych</h3>
                                                <p class="cards_text">The boy I love with my whole heart</p>
                                            </div>
                                            <div class="flip-card-back it_back">
                                                <h1>Vasyl Abramovych</h1>
                                                <p class="cards_quote cards_text"><em>"Elon Musk calls me bro."</em></p>
                                                <button class="btn"><span>Read more</span></button>
                                            </div>
                                        </div>
                                    </div>  
                                </td>
                    
                                <td>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front science_front">
                                                <img src="kulieshova.png" alt="Avatar" style="width:95%; margin-top: 5px;"><br>
                                                <h3>Natalie Kulieshova</h3>
                                                <p class="cards_text">Just a small girl</p>
                                            </div>
                                            <div class="flip-card-back science_back">
                                                <h1>Natalie Kulieshova</h1>
                                                <p class="cards_quote cards_text"><em>"4:04 ERROR! SLEEP NOT FOUND"</em></p>
                                                <button class="btn"><span>Read more</span></button>
                                            </div>
                                        </div>
                                    </div>  
                                </td>

                                <td>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front art_front">
                                                <img src="speilberg.png" alt="Avatar" style="width:95%; margin-top: 5px;"><br>
                                                <h3>Steven Spielberg</h3>
                                                <p class="cards_text">Filmmaker</p>
                                            </div>
                                            <div class="flip-card-back art_back">
                                                <h1>Steven Spielberg</h1>
                                                <p class="cards_quote cards_text"><em>"I don’t dream at night, I dream at day, I dream all day; I’m dreaming for a living."</em></p>
                                                <button class="btn"><span>Read more</span></button>
                                            </div>
                                        </div>
                                    </div>  
                                </td>
                            </tr>

                            <tr>
                                    <td>
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front art_front">
                                                    <img src="template.png" alt="Avatar" style="width:95%; margin-top: 5px;"><br>
                                                    <h3>Benedict Cumberbatch</h3>
                                                    <p class="cards_text">Actor</p>
                                                </div>
                                                <div class="flip-card-back art_back">
                                                    <h1>Benedict Cumberbatch</h1>
                                                    <p class="cards_quote cards_text"><em>"The further you get away from yourself, the more challenging it is. Not to be in your comfort zone is great fun."</em></p>
                                                    <button class="btn"><span>Read more</span></button>
                                                </div>
                                            </div>
                                        </div>  
                                    </td>
                    
                                    <td>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front science_front">
                                                <img src="freud.png" alt="Avatar" style="width:95%; margin-top: 5px;"><br>
                                                <h3>Sigmund Freud</h3>
                                                <p class="cards_text">the founder of psychoanalysis</p>
                                            </div>
                                            <div class="flip-card-back science_back">
                                                <h1>Sigmund Freud</h1>
                                                <p class="cards_quote cards_text"><em>"Dreams are often most profound when they seem the most crazy.
                                                    Children are completely egoistic; they feel their needs intensely and strive ruthlessly to satisfy them."</em></p>
                                                <button class="btn"><span>Read more</span></button>
                                            </div>
                                        </div>
                                    </div>  
                                </td>
                    
                                <td>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front art_front">
                                                <img src="copperfield.png" alt="Avatar" style="width:95%; margin-top: 5px;"><br>
                                                <h3>David Copperfield</h3>
                                                <p class="cards_text">Magician</p>
                                            </div>
                                            <div class="flip-card-back art_back">
                                                <h1>David Copperfield</h1>
                                                <p class="cards_quote cards_text"><em>"My advice is, never do to-morrow what you can do today. Procrastination is the thief of time. Collar him!"</em></p>
                                                <button class="btn"><span>Read more</span></button>
                                            </div>
                                        </div>
                                    </div>  
                                </td>

                                <td>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front it_front">
                                                <img src="wozniak.png" alt="Avatar" style="width:95%; margin-top: 5px;"><br>
                                                <h3>Steve Wozniak</h3>
                                                <p class="cards_text">Co-founder of Apple</p>
                                            </div>
                                            <div class="flip-card-back it_back">
                                                <h1>Steve Wozniak</h1>
                                                <p class="cards_quote cards_text it_back"><em>"Never trust a computer you can't throw out a window."</em></p>
                                                <button class="btn"><span>Read more</span></button>
                                            </div>
                                        </div>
                                    </div>  
                                </td>
                                
                            </tr>        
                        </table>         
					</div>

			<!-- Main -->
				<div class="wrapper style2">

					<article id="main" class="container special">
						<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
						<header>
							<h2><a href="#">About the project</a></h2>
							<p>
								Sociis aenean eu aenean mollis mollis facilisis primis ornare penatibus aenean. Cursus ac enim
								pulvinar curabitur morbi convallis. Lectus malesuada sed fermentum dolore amet.
							</p>
						</header>
						<p>
							Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa
							posuere lacus convallis tellus interdum. Amet nullam fringilla nibh nulla convallis ut venenatis purus
							sit arcu sociis. Nunc fermentum adipiscing tempor cursus nascetur adipiscing adipiscing. Primis aliquam
							mus lacinia lobortis phasellus suscipit. Fermentum lobortis non tristique ante proin sociis accumsan
							lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum
							consequat integer interdum integer purus sapien. Nibh eleifend nulla nascetur pharetra commodo mi augue
							interdum tellus. Ornare cursus augue feugiat sodales velit lorem. Semper elementum ullamcorper lacinia
							natoque aenean scelerisque.
						</p>
						<footer>
							<a href="#" class="button">Continue Reading</a>
						</footer>
					</article>

				</div>

			<!-- Features -->
				<div class="wrapper style1">

					<section id="features" class="container special" style="width: auto;">
						<header>
							<h2>About us</h2>
							<p>Ipsum volutpat consectetur orci metus consequat imperdiet duis integer semper magna.</p>
						</header>
						<div class="row" style="margin: 0px auto;">
                            <article class="col-4 col-12-mobile special" style="position: relative; margin: 0px auto; padding: 0px;">
								<a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Nataliia Kulieshova</a></h3>
								</header>
								<p>
									Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
									porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								</p>
							</article>
                            <article class="col-4 col-12-mobile special" style="position: relative; margin: 0px auto; padding: 0px;">
								<a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Vasyl Abramovych</a></h3>
								</header>
								<p>
									Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
									porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								</p>
							</article>      
						</div>
                    </section>
                    
				</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>