.dropbtn {
    background-color: #aaaaaab7;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    max-width: 70px;
    min-width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
  }
  
  .dropdown {
    position: fixed;
    display: inline-block;
    top: 10px;
    left: 10px;
    font-size: 14px;
    text-align: left;
    z-index: 7777777777;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1c7;
    z-index: 1;
    max-width: 70px;
    min-width: 60px;
    overflow: hidden;
  }
  
  .flag {
    margin: 5px;
    margin-top: 10px;
    float: left;
  }
  
.dropdown-content form:hover {background-color: rgba(209, 209, 209, 0.781);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #686868b7;}

@media screen and (max-width: 736px) {
  #dropfull {
    display: none;
  }
}

@media screen and (min-width: 737px) {
  #dropmob {
    display: none;
  }
}

.dropbtnm {
  background-color: #aaaaaab7;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  max-width: 50px;
  min-width: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  overflow: hidden;
}

.dropdownm {
  position: fixed;
  display: inline-block;
  top: 10px;
  left: 10px;
  font-size: 14px;
  text-align: left;
  z-index: 7777777777;
}

.dropdown-contentm {
  display: none;
  position: absolute;
  background-color: #f1f1f1c7;
  z-index: 1;
  max-width: 50px;
  min-width: 40px;
  overflow: hidden;
}

.dropdown-contentm form:hover {background-color: rgba(209, 209, 209, 0.781);}

.dropdownm:hover .dropdown-contentm {display: block;}

.dropdownm:hover .dropbtnm {background-color: #686868b7;}