/* DESKTOP */
.dropbtn {
    background-color: #aaaaaab7;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    max-width: 60px;
    min-width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
  }
  
  .dropdown {
    position: fixed;
    display: inline-block;
    top: 10px;
    left: 10px;
    font-size: 14px;
    text-align: left;
    z-index: 7777777777;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1c7;
    z-index: 1;
    max-width: 65px;
    min-width: 60px;
    overflow: hidden;
  }
  
  #d-uk {
    background-color: #68686800; 
    padding: 3px;
    background-image:url('/home/kulieshova/ukrainians/flags/uk.png');
    background-position:5px 10px;
    background-repeat:no-repeat;
    background-size: 20px;
    height: 30px;
    width: 60px;
    padding-left: 25px;
    font-size: 21px;
  }

  #d-ru {
    background-color: #68686800; 
    padding: 3px;
    background-image:url('/home/kulieshova/ukrainians/flags/ru.png');
    background-position:5px 10px;
    background-repeat:no-repeat;
    background-size: 20px;
    height: 30px;
    width: 60px;
    padding-left: 25px;
    font-size: 21px;
  }
  
  #d-en {
    background-color: #68686800; 
    padding: 3px;
    background-image:url('/home/kulieshova/ukrainians/flags/us.png');
    background-position:5px 10px;
    background-repeat:no-repeat;
    background-size: 20px;
    height: 30px;
    width: 60px;
    padding-left: 25px;
    font-size: 21px;
    margin-top: -5px;
  }
  
.dropdown-content form:hover {background-color: rgba(209, 209, 209, 0.781);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #686868b7;}




/* MOBILE */
@media screen and (max-width: 736px) {
  #dropfull {
    display: none;
  }
}

@media screen and (min-width: 737px) {
  #dropmob {
    display: none;
  }
}

.dropbtnm {
  background-color: #aaaaaab7;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  z-index: 1;
  max-width: 40px;
  min-width: 30px;
  height: 25px;
  line-height: 30px;
  text-align: center;
  overflow: hidden;
}

.dropdownm {
  position: fixed;
  display: inline-block;
  top: 10px;
  left: 10px;
  font-size: 14px;
  text-align: left;
  z-index: 7777777777;
}

.dropdown-contentm {
  display: none;
  position: absolute;
  background-color: #f1f1f1c7;
  z-index: 1;
  max-width: 40px;
  min-width: 30px;
  overflow: hidden;
}

#m-uk {
  background-color: #68686800; 
  padding: 3px;
  background-image:url('/home/kulieshova/ukrainians/flags/uk.png');
  background-position:5px 5px;
  background-repeat:no-repeat;
  height: 30px;
  width: 30px;
}

#m-en {
  background-color: #68686800; 
  padding: 3px;
  background-image:url('/home/kulieshova/ukrainians/flags/us.png');
  background-position:5px 5px;
  background-repeat:no-repeat;
  height: 30px;
  width: 30px;
}

#m-ru {
  background-color: #68686800; 
  padding: 3px;
  background-image:url('/home/kulieshova/ukrainians/flags/ru.png');
  background-position:5px 5px;
  background-repeat:no-repeat;
  height: 30px;
  width: 30px;
}

.dropdown-contentm form:hover {background-color: rgba(209, 209, 209, 0.781);}

.dropdownm:hover .dropdown-contentm {display: block;}

.dropdownm:hover .dropbtnm {background-color: #686868b7;}